<!doctype html>
<html lang="en">

<head>

</head>

<body>




    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light">Welcome to QuickQuiz</h1>
                    <h3 class="lead">True teachers are those who use themselves as bridges over which they invite their students to cross; then, having facilitated their crossing, joyfully collapse, encouraging them to create their own.</h3>
                </div>
            </div>
        </div>
    </header>
<!-- <footer>
    <div>
        <p>copy&c</p>
    </div>
</footer> -->
</body>

</html>
